<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" href="${rc.contextPath}/css/common/admin.css">
    <script src="${rc.contextPath}/plugins/jquery/jquery-3.3.1.min.js" defer="defer"></script>
    <style>
        .main-header .breadcrumb>li+li:before{
            content: "";
        }
    </style>
</head>
<body class="sidebar-close">
<#include  "/common/menu.html" />
<div class="content">
    <br/>
    <br/>
    <br/>
    <h2 class="text-center">您没有操作权限</h2>
</div>
</body>
</html>