<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="${urls.getForLookupPath('${rc.contextPath}/css/common/admin.css')}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.4.11/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qs@6.5.1/dist/qs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
</head>
<body class="sidebar-close">
<#include  "/common/menu.html" />
<div class="content">
    <input type="hidden" value="${Session.userAccount}" id="sessionAccount">
    <div id="app">
        <div class="form form-inline-center">
            <el-form :model="updatePwd" :rules="rules" ref='updatePwd' label-width="160px" label-position="right">
                <el-form-item label="Account" prop="account">
                    <el-input v-model="updatePwd.account" clearable disabled></el-input>
                </el-form-item>
                <el-form-item label="New Password" prop="password">
                    <el-input type="password" v-model="updatePwd.password" clearable></el-input>
                </el-form-item>
                <el-form-item label="Confirm Pwd" prop="confirmPwd">
                    <el-input type="password" v-model="updatePwd.confirmPwd" clearable></el-input>
                </el-form-item>
            </el-form>

            <el-row class="operate-row text-center">
                <el-button type="primary" @click="submitForm('updatePwd')">Save</el-button>
                <el-button @click="resetForm('updatePwd')" class="reset">Reset</el-button>
            </el-row>
        </div>
    </div>
</div>
<script>
    /*一、菜单栏*/
    //1、、面包屑
    document.querySelector("#breadcrumbModule").innerHTML = "Update Password";
    document.querySelector("#breadcrumbPage").classList.add("hide");

    /*二、axios设置*/
    const api = axios.create({
        baseURL: '/perm/user',
        timeout: 180000
    });
    api.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';

    /*三、vue*/
    let ref;

    const checkConfirmPwd = (rule, value, callback) => {
        if (value && value !== app.updatePwd.password) {
            callback(new Error('the two password is inconsistent'));
        } else {
            callback();
        }
    };

    let app = new Vue({
        el: "#app",
        data: {
            updatePwd: {
                account: document.querySelector("#sessionAccount").value,
                password: null,
                confirmPwd: null
            },
            rules: {
                account: [
                    {required: true, message: 'cannot be bull'},
                    {min: 1, max: 50, message: 'cannot more than 50 characters'}
                ],
                password: [
                    {required: true, message: 'cannot be bull'},
                    {min: 1, max: 100, message: 'cannot more than 100 characters'}
                ],
                confirmPwd: [
                    {required: true, message: 'cannot be bull'},
                    {min: 1, max: 100, message: 'cannot more than 100 characters'},
                    {validator: checkConfirmPwd}
                ]
            }
        },
        mounted (){
            ref = this.$refs;
        },
        methods: {
            submitForm: formName => {
                ref[formName].validate((valid) => {
                    if (valid) {
                        api.post("updatePwd", Qs.stringify(app.updatePwd, { arrayFormat: 'repeat' }))
                            .then((r) => {
                                app.loading = false;
                                if (r.data.code === 0){
                                    app.$alert('重置密码成功', {
                                        center: true,
                                        callback: action => {
                                            window.location.href="/login";
                                        }
                                    });
                                } else {
                                    app.$alert('重置密码失败', {
                                        center: true,
                                        callback: action => {}
                                    })
                                }
                            })
                            .catch((e) => {
                                app.loading = false;
                                app.$alert('' + e, '数据保存异常', {
                                    center: true,
                                    callback: action => {}
                                })
                            })
                    } else {
                        return false;
                    }
                });
            },
            resetForm: formName =>{
                ref[formName].resetFields();
            }
        }
    });

</script>
</body>
</html>