<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.solidunion.perm.mapper.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solid.subscribe.web.perm.dao.UserMapper">
<resultMap type="com.solid.subscribe.web.perm.entity.User" id="user">
    <result property="id" column="id" />
    <result property="account" column="account" />
    <result property="password" column="password" />
    <result property="status" column="status" />
    <result property="lastLoginTime" column="last_login_time"/>
    <result property="lastLoginIp" column="last_login_ip"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
</resultMap>

    <!-- 根据Id查询-->
    <select id="getUserById" parameterType="Integer" resultMap="user">
        select
        id,
        account,
        password,
        status,
        last_login_time,
        last_login_ip,
        create_time,
        update_time
        from perm_user
        where id=#{id}
    </select>

    <!--根据account查询-->
    <select id="getUserByAccount" parameterType="String" resultMap="user">
        select
        id,
        account,
        password,
        status,
        last_login_time,
        last_login_ip,
        create_time,
        update_time
        from perm_user
        where account=#{account}
    </select>


    <update id="updateUser" parameterType="com.solid.subscribe.web.perm.entity.User">
        update perm_user
        set
        account = #{account},
        password =#{password},
        status =#{status},
        last_login_time =#{lastLoginTime},
        last_login_ip =#{lastLoginIp}
        where id=#{id}
    </update>


    <!--查询所有-->
    <select  id="getUsers" resultMap="user">
        select
        id,
        account,
        password,
        status,
        last_login_time,
        last_login_ip,
        create_time,
        update_time
        from perm_user
    </select>

    <insert id="saveUser" parameterType="com.solid.subscribe.web.perm.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into perm_user
        (
        account,
        password,
        status
        )
        values
        (
        #{account},
        #{password},
        #{status}
        )
    </insert>

    <!--删除用户数据-->
    <delete id="deleteById" parameterType="Integer">
        delete
        from perm_user
        where id=#{id}
    </delete>

</mapper>