<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer List</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="${urls.getForLookupPath('${rc.contextPath}/css/common/admin.css')}">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.4.11/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <style>
        .table-row tbody .el-tag {
            width: 135px;
        }
    </style>
</head>
<body class="sidebar-close">
<#include  "/common/menu.html" />
<div class="content">
    <div id="app">
        <div class="operate-row">
            <el-button type="primary" class="operate-item" icon="el-icon-plus"  onclick="window.location.href='/subscribe/offer/createView'">Create</el-button>
        </div>
        <div class="table-row">
            <el-table :data="displayData" ref="reportTable" v-loading="loading" :height="windowHeight"
                      @sort-change="handleTableSortChange">
                <el-table-column key="offer_id" prop="offer_id" label="Id" align="center" sortable></el-table-column>
                <el-table-column key="offer_name" prop="offer_name" label="Name" align="center" sortable></el-table-column>
                <el-table-column key="config_status" prop="config_status" label="Config Status" align="center" sortable="custom" :sort-orders="tableSortOrders">
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.config_status_type">{{scope.row.config_status_label}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column key="status" prop="status" label="Status" align="center" sortable="custom" :sort-orders="tableSortOrders">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.status" @change="statusChange(scope.row.offer_id, scope.row.status)"
                                   active-color="#65B3E7" inactive-color="#E6E6E6" inactive-value=0 active-value=1>
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column key="actions" label="Actions" align="center" sortable="custom">
                    <template slot-scope="scope">
                        <a title="Edit">
                            <i class="el-icon-edit" @click = 'edit(scope.row.offer_id)' ></i>
                        </a>
                    </template>
                </el-table-column>
            </el-table>
            <el-row >
                <el-col :span="8" :offset="0">
                    <el-pagination background :layout="tablePagination.layout" :total="reportData.length" :page-size.sync="tablePagination.pageSize"
                                   :current-page.sync="tablePagination.currentPage" :page-sizes="tablePagination.pageSizes"></el-pagination>
                </el-col>
            </el-row>
        </div>
    </div>
    <div style="width: 100%; height: 50px;"></div>
</div>
<script>
    //1、左侧菜单栏对应选中
    document.querySelector("#offer").classList.add("active");
    //2、面包屑
    document.querySelector("#breadcrumbModule").textContent = "Offer List";
    document.querySelector("#breadcrumbPage").classList.add("hide");

    const api = axios.create({
        baseURL: '/subscribe/offer',
        timeout: 180000
    });
    api.defaults.headers.post['Content-Type'] = 'application/json';

    var app = new Vue({
        el: "#app",
        data: {
            loading: false,
            reportData: [],
            windowHeight: window.innerHeight - 150,
            tableColumnFilters: {},
            tableSorting: {
                prop: null,
                order: null // null, ascending, descending
            },
            tableSortOrders: ['descending', 'ascending', null],
            tablePagination: {
                currentPage: 1,
                pageSize: 50,
                pageSizes: [50, 100, 200],
                layout: 'sizes, prev, pager, next, total'
            },
        },
        computed: {
            filteredRows: function () {
                var data = this.reportData;
                for (var col in this.tableColumnFilters) {
                    var vals = this.tableColumnFilters[col];
                    if (vals.length !== 0) {
                        data = data.filter(x => vals.includes(x[col]))
                    }
                }
                return data;
            },
            displayData: function () {
                const pageNum = this.tablePagination.currentPage;
                const pageSize = this.tablePagination.pageSize;
                const sortKey = this.tableSorting.prop;
                const sortOrder = this.tableSorting.order;
                return _.slice(this.sortedRows(this.filteredRows, sortKey, sortOrder), (pageNum - 1) *
                    pageSize, pageNum * pageSize);
            }
        },
        methods: {
            edit (offer_id) {
                window.location.href="/subscribe/offer/editView?id=" + offer_id
            },
            generateData (result) {
                for (let item of result){
                    if (item.config_status === 0){
                        item.config_status_type =  "info";
                        item.config_status_label =  "no config";
                    } else if (item.config_status === 1) {
                        item.config_status_type =  "success";
                        item.config_status_label =  "config success";
                    }
                    item.status = item.status .toString();
                }
                return result;
            },
            refreshReportData () {
                let vm = this;
                vm.loading = true;
                api.post('/search', {})
                    .then(function (r) {
                        vm.loading = false;
                        if (r.status && r.status === 200 && r.data.code === 0) {
                            vm.reportData = vm.generateData(r.data.result);
                            vm.$notify.success({
                                message: '数据加载成功',
                                duration: 1500
                            });
                        } else {
                            vm.$alert('数据加载失败', '提示', {
                                callback: action => {}
                            });
                        }
                    })
                    .catch(function (e) {
                        vm.loading = false;
                        vm.$alert('数据加载异常', 提示, {
                            callback: action => {}
                        });
                    });
            },
            statusChange (offer_id, status) {
                let vm = this;
                vm.loading = true;
                let param = {
                    id: offer_id,
                    status: status
                };
                api.post('/switch', param)
                    .then(function (r) {
                        vm.loading = false;
                        if (r.status && r.status === 200 && r.data.code === 0) {
                            vm.$notify.success({
                                message: 'Status切换成功',
                                duration: 1500
                            });
                        } else {
                            vm.$alert('Status切换失败', '提示', {
                                callback: action => {
                                    for (let item of vm.reportData){
                                        if (item.offer_id === offer_id) {
                                            item.status = status === "0" ? "1" : "0";
                                            break;
                                        }
                                    }
                                }
                            });
                        }
                    })
                    .catch(function (e) {
                        vm.loading = false;
                        vm.$alert('Status切换异常', '提示', {
                            callback: action => {
                                for (let item of vm.reportData){
                                    if (item.offer_id === offer_id) {
                                        item.status = status === "0" ? "1" : "0";
                                        break;
                                    }
                                }
                            }
                        });
                    });
            },
            handleTableSortChange (sorting) {
                this.tableSorting.prop = sorting.prop;
                this.tableSorting.order = sorting.order;
            },
            sortedRows (rows, prop, order) {
                if (prop === null || order === null) {
                    return rows;
                }
                if (order === 'ascending') {
                    return _.sortBy(rows, [prop])
                } else {
                    return _.reverse(_.sortBy(rows, [prop]));
                }
            }
        },
        mounted () {
            this.refreshReportData();
        }
    })
</script>
</body>
</html>